#menu-logo{
    display: flex;
    align-items: center;
    padding: 2%;
}

/* Espaçamento do menu*/
.nav-item {
    margin: 0 20px;
}

.tamanho{
    font-size: 13px; ;
}


  .dropdown{
  
    color: #fff;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    position: relative;
    
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
    z-index: 10;
}

.dropdown{
    z-index: 15;
}

.dropdown::after {

    content: "";

    width: 0;
    height: 0;

    position: absolute;

    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FFFFFF;

    bottom: -10px;
    left: 50%;
}

.pi{
    position:relative;
    bottom:-45px;
    font-size: 30px; 
    color: #5C0F8B;
}

#novadiv{
    background: transparent linear-gradient(144deg,#5c0f8b,#301555) 0 0 no-repeat;
    width: 131px;
    height: 116px;
    margin-left: 40px;
}

.cor-text{

color:#F16123;
font-size: 18px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
}

.top-menu a::before,
.top-menu a::before {
 content: "";
 position: absolute;
 z-index: 2;
 left: 0;
 right: 0;
}
.top-menu li a:before {
 content: "";
 position: absolute;
 z-index: -2;
 left: 0;
 right: 100%;
 bottom: 50%;
 background: #5C0F8B; /*** COLOR OF THE LINE ***/
 height: 3px; /*** THICKNESS OF THE LINE ***/
 -webkit-transition-property: right;
 transition-property: right;
 -webkit-transition-duration: 0.3s;
 transition-duration: 0.3s;
 -webkit-transition-timing-function: ease-out;
 transition-timing-function: ease-out;
}
.top-menu li a:hover {
 opacity: 1 !important;
}
.top-menu li a:hover:before {
 right: 0;
}
.top-menu li li a:before {
 bottom: 10%;
}

.jumbotron{
    height: 142px;
    background-color:#FF6633 ;
}

.caixa-icone{
transform: translate(30px,50px);
}

.icone-alone{
color: #FFFFFF;
font-size: 40px; 
}
  
.linha-vertical {
    height: 100px;/*Altura da linha*/
    border-left: 2px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/

} 

.efeito:hover{
        color: #5C0F8B;
        transition: color 1s;  
}

.text-posicao{
    color: white;
    font-family: sans-serif;
    transform: translate(65px,-40px);
}


.text-posicao2{
margin-top: 150px;
}

#menunovo ul {
    padding:20px;
    margin:0px;
    list-style:none;
}

#menunovo ul li { display: inline; }

#menunovo ul li a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
   
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}

#menunovo ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}
