#menu-logo{
    display: flex;
    align-items: center;
    padding: 2%;
}

/* Espaçamento do menu*/
.nav-item {
    margin: 0 20px;
}

.tamanho{
    font-size: 13px; ;
}


  .seta{
  
    color: #fff;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    position: relative;
    
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
    z-index: 10;
}

.seta{
    z-index: 15;
}

.seta::after {

    content: "";

    width: 0;
    height: 0;

    position: absolute;

    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FFFFFF;

    bottom: -10px;
    left: 50%;
}

.pi{
    position:relative;
    bottom:-45px;
    font-size: 30px; 
    color: #5C0F8B;
}

#novadiv{
    background: transparent linear-gradient(144deg,#5c0f8b,#301555) 0 0 no-repeat;
    width: 131px;
    height: 116px;
    margin-left: 40px;
}

.cor-text{

color:#F16123;
font-size: 18px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
}

.top-menu a::before,
.top-menu a::before {
 content: "";
 position: absolute;
 z-index: 2;
 left: 0;
 right: 0;
}
.top-menu li a:before {
 content: "";
 position: absolute;
 z-index: -2;
 left: 0;
 right: 100%;
 bottom: 50%;
 background: #5C0F8B; /*** COLOR OF THE LINE ***/
 height: 3px; /*** THICKNESS OF THE LINE ***/
 -webkit-transition-property: right;
 transition-property: right;
 -webkit-transition-duration: 0.3s;
 transition-duration: 0.3s;
 -webkit-transition-timing-function: ease-out;
 transition-timing-function: ease-out;
}
.top-menu li a:hover {
 opacity: 1 !important;
}
.top-menu li a:hover:before {
 right: 0;
}
.top-menu li li a:before {
 bottom: 10%;
}

.jumb{
    height: 142px;
    background-color:#FF6633 ;
}

.caixa-icone{
transform: translate(30px,50px);
}

.icone-alone{
color: #FFFFFF;
font-size: 40px; 
}
  
.linha-vertical {
    height: 100px;/*Altura da linha*/
    border-left: 2px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/

} 

.efeito:hover{
        color: #5C0F8B;
        transition: color 1s;  
}

.text-posicao{
    color: white;
    font-family: sans-serif;
    transform: translate(65px,-40px);
}


.text-posicao2{
margin-top: 150px;
}

#menunovo ul {
    padding:20px;
    margin-left:10px;
    list-style:none;
   
}

#menunovo ul li { display: inline; }

#menunovo ul li a {
    padding: 10px 29px;
    display: inline-block;

    /* visual do link */
   
    color: #5C0F8B;
    text-decoration: none;
    font-size: 16px;
 
}

#menunovo ul li a:hover {
    width: 166px;
    height: 48px;
    background-color:#525252;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    border: none;

}

#menunovo ul li a:active{
    width: 166px;
    height: 48px;
    background-color: #5C0F8B;
    color: #F16123;
    font-size: 16px;
    border: none;
  }

  hr {
    margin:-35px;
  }
  
  .hr1 {
    border: 0;
    border-top: 1px solid #5C0F8B;
  }

  


.btn-1 a:after{content:""; display:block;}
.btn-1 a:after{position:relative; left:0; bottom:0; width:0%; height:3px; background-color:#5C0F8B; -webkit-transition:all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55); -o-transition:all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55); transition:all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);}
.btn-1 a:hover:after{width:100%;}


  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display:none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}


  .card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.descer{
    transform: translate(50px,90px);
}

.text-descer{
color:#F16123;
font-size: 26px;
}

figcaption{
    text-align: center;
    font-size: 30px;
    color:#5C0F8B;
    font-weight: bold;
}


figure:hover img{
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }

.novohall{
    background-image: url(/assets/phone.png);
    background-size: cover;
    height: 500px;
}

footer {
    background: transparent linear-gradient(144deg,#5c0f8b,#301555) 0 0 no-repeat;
    color: #FF6633;;
    margin-top:150px;
  }
  
  footer a {
    color:#FF6633;;
    font-size: 14px;
    transition-duration: 0.2s;
    text-decoration: none;
  }
  
  footer a:hover {
    color: #FF6633;
    text-decoration: none;
  }
  
  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #5c0f8b;
    margin-top: 60px;
  }
  
  .footer-middle {
    padding-top: 2em;
    color: white;
  }
  
  
  /*SOCİAL İCONS*/
  
  /* footer social icons */
  
  ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 40px !important;
    padding: 0;
  }
  
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  
  
  
  .social-network a.ico:hover {
      color: #ffffff;
  }
  
 
  #rodape {
    width: 30%;
    margin: 0; 
    padding: 0;
    transform: translate(910px,-50px);
    float: left;
    }

    #rodape ul li {
        display: inline-block;
		margin: 0;
         padding: 0px;
		text-align: left;
		list-style-type: none;
		}
